h1{
  font-size: 32rem;
}

.back{
  font-family: 'Varela', sans-serif;
  text-align: center;
  background-color: #dff5f2;
}

.landing-page{
  background-color: #086972;
  text-align: center;
}

.landing-title{
  font-family: 'Cinzel', serif;
  color: #dff5f2;
  margin: 50px auto 10px auto;
}

.land-images{
  margin: 50px auto 50px auto
}

.titles{
  font-family: 'Cinzel', serif;
  background-color:#dff5f2;
  margin: 4.5rem auto 4.5rem auto;
  text-align: center;
}

.subheading{
  color: #bbcecc;
  font-family: 'Varela', sans-serif;
  margin: 20px auto 40px auto;
  font-size: 0.85rem;
}

.main-text{
  background-color: #dff5f2;
  padding: 10px 10px 10px 10px;
  border-radius: 2.2%;
}

.nav-link{
  margin: auto 5px auto 5px;
}

.container-fluid{
  padding: 3% 15% 7% 15%;
}

.contact{
  padding: 7% 15%;
  text-align: center;
  font-weight: bold;
}

.contact-nav{
  margin-left: 16px;
}

.cico{
   color: black;
}

.contact i:hover{
  transition: border 0.5s;
  border-radius: 10%;
  border: 3px solid #66c6ba;
  background-color: #66c6ba;
}

.row img:hover {
  transition: border 0.75s;
  border-radius: 5%;
  background-color: #66c6ba;
  border: 1px solid black;
}

.navbar-brand:hover {
  transition: border 0.5s;
  border-radius: 10%;
  border: 1px solid #66c6ba;
}

.array button{
  margin: auto 7px;
}
